@mixin flexy($disp: flex, $dir: null, $wrap:null, $just:null, $align: null){
	display: $disp;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
	align-items: $align;
}

@mixin e($element){
	&__#{$element}{
		@content;
	}
}

@mixin m($modifier){
	&--#{$modifier}{
		@content;
	}
}

@mixin mq(){
	@media screen and (min-width:1000px) {
		@content;
	}
}