$main-color: #274a88;
$white: #fafafa;
$city-text-color: #437041;
$shadow-color: rgba(0,0,0, .8);

$base-font-size: 16px;

$max-width: 1000px;

$font-url--google: "https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@700&display=swap";
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Roboto', sans-serif;

$font-weights: (
    'normal': 400,
    'bold' : 800,
);

$animation-duration: 0.6s;

$rounded-corners: 5px;