@if variable-exists(font-url--google){
	@import url($font-url--google);
}

* {
	box-sizing: border-box;
}

body{
	font-family: $primary-font;
	line-height: 1.5;
	font-weight: map-get($font-weights, 'normal');
}

header {
	z-index:100;
}

h1{
	font-size:px-to-rem(18px);
	@include mq(){
		font-size:px-to-rem(24px);
	}
}

h2{
	text-align: center;
	font-size: px-to-rem(26px);
	@include mq(){
		font-size: px-to-rem(40px);
	}
}

h3{
	color:$city-text-color;
	text-decoration: underline;
	margin-bottom: 0;
	font-size: px-to-rem(22px);
	@include mq(){
		font-size: px-to-rem(30px);
	}
}

h4 {
	font-size: px-to-rem(20px);
	margin-bottom: 0;
	@include mq(){
		font-size: px-to-rem(25px);
	}
}

h1,
h2,
h3,
h4,
.hero__text{
	font-family: $secondary-font;
	font-weight: map-get($font-weights, 'bold');
	letter-spacing: 1.5px;
}

section:nth-of-type(2){
	margin-top:100px;
}
