.main-nav{
	height: 100%;
	margin:0;
	@include flexy($just: center, $align: center);
}

.nav {
	min-height: 100vh;
	background-color: $main-color;
	list-style:none;
	padding: 0;
	margin:0;
	position: absolute;
	left:0;
	top:100%;
	transform: translateX(-300px);
	transition: transform $animation-duration ease-in-out;

	@include e(item){
		@include flexy();
		margin: 0;
		
		&:first-child{
			margin-top: 0;
		}
		a{
			font-size: px-to-rem(18px);
			color: white;
			text-decoration: none;
			transition: color $animation-duration ease-in-out, background-color $animation-duration ease-in-out;
			min-width: 100%;
			padding: 10px 100px 10px 20px;
			flex:1;
			@include mq(){
				font-size: px-to-rem(22px);
			}
			&:hover,
			&:focus{
				background-color: $white;
				color: $main-color;
				outline:none;
			}
		}

		
	}
}

.transform-nav{
	transform: translateX(0);
}